<!--PC用（801px以上端末）で表示させるブロック-->
<header class="pc">

	<h1 class="logo"><a href="/user/"><img src="../../images/logo.png" alt="SAMPLE SITE"></a></h1>

	<!--PC用（801px以上端末）メニュー-->
	<nav id="menubar">
	<ul>
	<li class="menuimg menu1 current"><a href="/user/"><span>Home</span></a></li>
	<li class="menuimg menu2"><a href="/master/"><span>Master</span></a></li>
	<li class="menuimg menu3"><a href="/bizreport/"><span>BizReport</span></a></li>
	<li class="menuimg menu4"><a href="/user/update"><span>Links</span></a></li>
	<li class="menuimg menu5"><a href="/user/"><span>Contact</span></a></li>
	</ul>
	</nav>
	<ul class="icon">
	<li><a href="#"><img src="../../images/icon_facebook.png" alt="Facebook"></a></li>
	<li><a href="#"><img src="../../images/icon_twitter.png" alt="Twitter"></a></li>
	<li><a href="#"><img src="../../images/icon_instagram.png" alt="Instagram"></a></li>
	<li><a href="#"><img src="../../images/icon_youtube.png" alt="YouTube"></a></li>
	</ul>

</header>
<!--/.pc-->

<!--小さな端末用（800px以下端末）で表示させるブロック-->
<header class="sh">

	<h1 class="logo"><a href="/user/"><img src="../../images/logo.png" alt="SAMPLE SITE"></a></h1>

	<!--小さな端末用（800px以下端末）メニュー-->
	<div id="menubar-s">
	<nav>
	<ul>
	<li class="menuimg menu1 current"><a href="/user/"><span>Home</span></a></li>
	<li class="menuimg menu2"><a href="/master/"><span>Master</span></a></li>
	<li class="menuimg menu3"><a href="/bizreport/"><span>BizReport</span></a></li>
	<li class="menuimg menu4"><a href="/user/update"><span>Links</span></a></li>
	<li class="menuimg menu5"><a href="/user/"><span>Contact</span></a></li>
	</ul>
	</nav>
	<ul class="icon">
	<li><a href="#"><img src="../../images/icon_facebook.png" alt="Facebook"></a></li>
	<li><a href="#"><img src="../../images/icon_twitter.png" alt="Twitter"></a></li>
	<li><a href="#"><img src="../../images/icon_instagram.png" alt="Instagram"></a></li>
	<li><a href="#"><img src="../../images/icon_youtube.png" alt="YouTube"></a></li>
	</ul>
	
	</div>
	<!--/#menubar-s-->

</header>
<!--/.sh-->